# database config
#
DB_USERNAME="username"
DB_PASSWORD="password"
DB_HOSTNAME="0.0.0.0"
DB_DATABASE="database"
DB_PORT="3306"
DB_DEBUG="false"

# google oauth settings
#
GOOGLE_REDIRECT_URL="http://your-local-miritos.ui.project.com"
GOOGLE_CLIENT_ID="xxxxx"
GOOGLE_CLIENT_SECRET="xxxxx"

# aws access tokens
#
AWS_ACCESS_KEY_ID="xxxxx"
AWS_SECRET_KEY="xxxxx"


# jwt keys, to generate:
# 
#   $ openssl genrsa -out private.pem 2048
#   $ openssl rsa -in private.pem -outform PEM -pubout -out public.pem
#
JWT_PUBLIC_KEY="/path/to/the/private.pem"
JWT_PRIVATE_KEY="/path/to/the/public.pem"
